# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: stardrive

    env:
      DB_PORT: ${{ secrets.DB_PORT }}
      DB_IP: ${{ secrets.DB_IP }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_PASSWORD_ROOT: ${{ secrets.DB_PASSWORD_ROOT }}
      DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
      TOKEN_UPTIME: ${{ secrets.TOKEN_UPTIME }}
      SENTRY_LINK: ${{ secrets.SENTRY_LINK }}

    steps:
      - uses: actions/checkout@v4

      - name: Update 3rd party docker containers
        run: docker compose pull

      - name: Build app
        run: docker compose build

      - name: Spin up containers
        run: docker compose up -d
