# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: mainserverJulian

    # strategy:
    #   matrix:
    #     node-version: [12.x]
    #     # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    env:
      DB_PORT: ${{ secrets.DB_PORT }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_PASSWORD_ROOT: ${{ secrets.DB_PASSWORD_ROOT }}
      DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      # - name: Use Node.js ${{ matrix.node-version }}
      #   uses: actions/setup-node@v2
      #   with:
      #     node-version: ${{ matrix.node-version }}

      - name: Update 3rd party docker containers
        run: docker-compose pull

      - name: Build app
        run: docker-compose build

      # - name: Spin up DB
      # run: docker-compose up -d db

      # - name: Update DB structure
      #   run: npm i sequelize-cli
      #   run: sequelize db:migrate

      # - name: Spin up all other containers
      - name: Spin up containers
        run: docker-compose up -d